@model List<Category>

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="container">
            <div class="row">
                <div class="col-12 text-end pb-3">
                    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>  Create New Category
                    </a>
                </div>

            </div>
        </div>

        <div class="container">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Category Name
                        </th>
                        <th>
                            Display Order
                        </th>
                        <th></th>
                    </tr>
                <thead>
                <tbody>
                            @foreach (var item in Model.OrderBy(y => y.DisplayOrder))
                            {
                        <tr>
                            <td>
                                        @item.Name
                            </td>
                            <td>
                                        @item.DisplayOrder
                            </td>
                            <td class="text-end">
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> EDIT</a>
                                    <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i> DELETE</a>
                                </div>
                            </td>

                        </tr>
                            }
                </tbody>

            </table>
        </div>
    </div>
